.section-order-item{
    background-color: #ffffff;
    color: #000000;
    width: 100%;
    min-height: 100vh;
    padding-top: 64px;
}

.section-item-orders-block {
    max-width: 1270px;
    margin-left: auto;
    margin-right: auto;
    padding: 40px 0;
    width: 100%;
}

.come-back-order-div{
    height: 48px;
    cursor: pointer;
}

.come-back-order-div span{
    margin-right: 10px;
    width: 30px;
    height: 30px;
}

.come-back-order-div span:hover{
    border-radius: 50%;
    background-color: #8867960a;
}

.orders-container {
    width: 100%;
    max-width: 1270px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    column-gap: 40px;
    row-gap: 20px;
    justify-content: space-evenly;/**/
}

.order-item-info-block{
    display: grid;
    grid-template-areas:
    'info chat'
    'price chat'
    'user chat';
    grid-template-columns: 386px 787px;
    grid-template-rows: 201px 176px 1fr;
    gap: 16px;
}

.block-common-info-order,
.block-price-order,
.user-info-block-order,
.chat-block-order{
    border: 1px solid #ebeaed;
    border-radius: 8px;
    box-shadow: 0 1px 4px 1px rgb(27 28 29 / 11%);
}


.user-info-block-order {
    min-height: 143px;
}

.block-common-info-order{
    grid-area: info;
    display: flex;
    height: fit-content;
    flex-direction: column;
    width: 386px;
    padding: 20px;
    font-size: 0.9rem;
    line-height: 1.7;
    color: #27272e;
    gap: 15px;
}

.block-price-order{
    grid-area: price;
    width: 386px;
    height: fit-content;
    padding: 20px;
}

.user-info-block-order{
    grid-area: user;
    width: 386px;
    height: fit-content;
    padding: 20px;
}

.chat-block-order{
    grid-area: chat;
    width: 787px;
    height: 551px;
}

.block-info-order-wrapper{
    display: flex;
    gap: 20px;
}

.block-info-order-svg{
    width: 20px;
}

.block-img-svg-pet-order-item{
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.svg-pet-order-info{
    width: 30px;
}

.pet-text-order{
    font-size: 1.2rem;
    line-height: 1.7;
    font-weight: 600;
    color: #27272e;
}

.more-info-pet-block{
    border: 1px solid #ebeaed;
    border-radius: 8px;
}

.name-btn-pet-block{
    display: flex;
    padding: 16px;
    justify-content: space-between;
    align-items: center;
    color: #27272e;
    transition: height 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.name-pet-more-info{
    font-size: 1.25rem;
    line-height: 1.625;
    letter-spacing: 0.013rem;
    font-weight: 600;
}

.btn-toggle-info{
    font-size: 35px;
    margin-top: -30px;
}

.price-order-block-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: #504f54;
}

.price-order-title{
    font-size: 1.1rem;
    padding-bottom: 20px;
}

.block-cost-module{
    display: flex;
    border-bottom: 1px solid #ebeaed;
    padding-bottom: 15px;
    justify-content: space-between;
}

.total-price-order-item-block{
    display: flex;
    justify-content: space-between;
}

.number-of-total-price{
    color: #ca96e1;
}

.total-price-order-item-title{
    font-weight: 600;
}

.user-block-wrapper{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.img-petsit-order-info-item{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.name-user-order-info-block{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.rating-star {
    font-size: 1.3em;
    cursor: pointer;
    color: #dabd18b2;
    transition: filter linear .3s;
 }
 
 .rating-star:hover {
    filter: drop-shadow(1px 1px 4px gold);
 }

.send-review-and-rating,
.rating-order-title{
    font-size: 0.72rem;
}

.warning {
    color: #aa3737;
    position: absolute;
    padding-left: 40px;
    margin-top: -10px;
}

 .rating-block{
    display: flex;
    gap: 10px;
    align-items: baseline;
 }

 .input-petsitter-review {
    outline: none;
    height: 150px;
    border: 1px solid #ece8ec;
    border-radius: 8px;
    padding: 16px 14px;
    resize: none;
    transition: 0.5s;
  }

.input-petsitter-review:hover,
.input-petsitter-review:focus{
    border: 1px solid #ca96e1;
}

  .btn-save-rate-review {
    background-color: #ca96e1;
    margin-top: 20px;
    margin-bottom: 10px;
    cursor: pointer;
    margin-left: 10%;
    width: 80%;
    height: 50px;
    border: 0;
    border-radius: 5px;
    color: #ffffff;
    padding: 8px 16px;
    font-size: 15px;
    font-family: "Lato", sans-serif;
    font-weight: bold;
    transition: 0.5s;
  }

  .btn-save-rate-review:hover {
    background-color: #a278b4;
  }

  .stars-rate-block{
    display: flex;
    gap: 20px;
  }

  @media (max-width: 1213px) {
    
    .order-item-info-block{
        grid-template-columns: 386px 600px;
        justify-content: center;
    }

    .section-item-orders-block{
        padding: 40px 20px;
    }

    .chat-block-order{
        max-width: 100%;
    }

  }

  @media (max-width: 1026px) {

    .order-item-info-block{
        grid-template-columns: 386px 450px;
    }

  }

  @media (max-width: 876px) {

    .order-item-info-block{
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }

    .block-price-order,
    .user-info-block-order,
    .block-common-info-order{
        width: 100%;
    }

  }