.left-right-settings {
  display: flex;
  /*width: 100%;*/
}

.left-settings {
  width: 60%;
}

.active-container-set{
    display: block;
}

.no-active-container-set{
    display: none;
}

.right-settings {
  width: 40%;
  margin-top: 30px;
  margin-bottom: 30px;
}

.container{/*.old-date-settings {*/
  border-bottom: dotted 1px;
  display: flex;
  justify-content: space-between;
}
/*
.container{
    display: flex;
}
*/
.old-date-settings {
  margin-bottom: 20px;
}

.old-date-settings p {
  padding: 5px;
  color: #71717a;
  padding-left: 0;
}
/*
.old-date-settings .btnSetChange {
  border: none;
  background: transparent;
  padding: 7px;
}
*/
.old-date-settings .btnSetChange:hover {
  background-color: rgb(238, 236, 226);
}

.old-date-settings .btnSetChange {
    color: #fff;
    background-color: #ca96e1;
    border: 0;
    padding: 5px 10px;
    width: 100px;
    border-radius: 5px;
    display: block;
    font-family: "Lato", sans-serif;
    transition: 0.5s;
    margin-top: 10px;
  }

.block-sex {
  padding-bottom: 10px;
}
.block-sex div {
  width: 100%;
}

.old-date-settings .form-sex-settings {
  display: flex;
  width: 100%;
  column-gap: 20px;
  max-width: 400px;
}

.old-date-settings .div-input-radio {
  border: solid 1px rgb(209, 209, 209);
  border-radius: 5px;
  max-width: 50%;
  padding: 10px;
}

.div-input-radio label {
  padding-left: 10px;
}

.div-input-date,
.div-input-text {
  width: 100%;
}

.div-input-date input,
.div-input-text input {
  width: 100%;
  
}

.left-right-settings input[type='text'], .left-right-settings input[type='password']{ /*pasword не отрабатывает*/
    background-color:#fff;
}

.btns-settings{
    display: flex;
}

.left-right-settings .title-main{
    color:black;
    font-weight: 800;
    color: red;
}

.title-child-settings {
  margin: 20px 0px;
}

.left-settings .rectangle {
  margin: 20px 5px;
}

.first-child{
    width: 100%;
}


.settings-input {
  max-width: 400px;
  border-radius: 5px;
  border: 1px solid rgb(209, 209, 209);
  padding: 10px;
  color: rgb(100, 100, 100);
  transition: 0.2s;
}

.settings-input:focus,
.password-input:focus {
  box-shadow: 0px 1px 5px rgba(153, 153, 153, 0.26);
}

.email-container {
  border: none;
  padding: 0;
}

.email-container input {
  width: 100%;
}

.password-container {
  padding: 20px;
  height: 340px;
}

.password-input {
  border: 1px solid rgb(175, 175, 175);
  padding: 5px;
  border-radius: 5px;
}

.btns-settings {
  column-gap: 10px;
}

.warning-password {
  position: absolute;
}

.settings-changes-successfuly {
  max-width: 200px;
  text-align: center;
  color: rgb(72, 177, 80);
  font-size: 18px;
  margin-bottom: 40px;
  transition: 0.2s;
  cursor: default;
  opacity: 0;
}

.btns-add-remove-container {
  display: flex;
  flex-direction: column;
}

.button-remove-photo {
  margin-bottom: 20px;
  color: #ca96e1;
  border: 1px solid #ca96e1;
  border-radius: 5px;
  cursor: pointer;
  background-color: transparent;
  transition: 0.2s;
  color: #000000;
  width: 120px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.button-remove-photo:hover {
  background-color: #b276cc;
}

@media (max-width: 1200px) {
  .left-right-settings {
    flex-direction: column;
  }

  .left-settings {
    width: 100%;
    padding: 0 20px;
  }

  .right-settings {
    margin-top: 0px;
    width: 100%;
  }
}

