.boxFilter{
    width: 100%;
    background-color:#eaccf7;
    padding: 20px;
    color: #84818a;
    border-radius: 25px;
}

.boxFilter img, .menuTime li, .menuPets li{
    cursor: pointer;
}

.selectionBox{
    display: flex;
    width: auto;
}

.ActivSelectionBox{ /*active paragraph*/
    color: #c07fdb;
    border-bottom-width: 3px;
    border-bottom-style: solid;
    border-bottom-color: #c07fdb;
}

.selectionBox:hover{
    display: flex;
}

.selectionBox .selectionBoxN{
    padding: 10px;
    cursor: pointer;
}

hr{
    width: 100%;
}

.inputsBox{
    display: flex;
    align-items: center;
}

.inputsBox .box1{
    margin: 10px;
    border: 1px solid #84818a;
    border-radius: 5px;
    padding: 3px;
    height: 40px;
}

.rectangle img{
    width: 15px;
    margin-right: 5px;
}

.inputsBox button{
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    width: 150px;
    margin: 0;
    height: 50px;
}

.inputsBox button:hover{
    background-color:#c07fdb;
}
/*
.inputsBox input{
    background-color:#eaccf7;
}*/

.nameInputBox{
    font-size: 13px;
    color: #84818a;
    position: relative;
    top:-15px;
    background-color:#eaccf7;
    padding: 0 2px;
    display: inline-block;
}

.inputsBox img{
    width: 15px;
    position: relative;
}

.box1 div{
    position: relative;
    top: -15px;
}

.box1 div img{
    margin: 0 3px;
}

.menuTime, .menuPets{
    display: none;
    height: 200px;
    position: relative;
    left: 30px;
    width: 190px;
    background-color:#fff;
    overflow: auto;
    color: black;
    padding: 0 10px;
    box-shadow:0 0 10px #84818a;
}

.menuPets p{
    font-weight: 900;
}

.timeBox:hover .menuTime, .petBox:hover .menuPets{
    display: block;
}

.menuTime li:hover, .menuPets li:hover{
    background-color:#eaccf7;
}

.itTime{
    padding-left: 10px;
}

.boxFilter input{
    border-radius: 3px;
}

.search{
    padding: 0 10px;
}

.menuWalkTime{
    padding: 15px;
  }

  .box2{
    display: none;
  }