.login-section{
    background-color: #fbfafc;
    width: 100vw;
    height: 100vh;
}
.login-layout{
    width: 100vw;
    height: 100vh;
    padding-top: 48px;
}
.login-block-wrapper{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 552px;
    height: 535px;
    padding: 32px;
    margin-left: auto;
    margin-right: auto;
    background-color: #ffffff;
    border: 1px solid #ebeaed;
    border-radius: 8px;
}
.btn-login{
    background-color: #ca96e1;
    margin-top: 20px;
    cursor: pointer;
    width: 150px;
    height: 50px;
    border: 0;
    border-radius: 5px;
    color: #ffffff;
    padding: 8px 16px;
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    transition: .5s;
}
.btn-login:hover{
    background-color: #a278b4;
}
.login-title{
    color: #ca96e1;
    font-family: 'Noto Sans', sans-serif;
    font-size: 2.2rem;
    font-weight: 700;
    margin: 0;
}
.text-after-title-login{
    font-size: 1.35rem;
    font-weight: 700;
    margin-bottom: 25px;
}
.input-login{
    background-clip: padding-box;
    border: 1px solid #ebeaed;
    border-radius: 5px;
    margin-top: 30px;
    transition: .5s;
    outline: none;
    width: 485px;
    height: 53px;
    transition: .5s;
}
.input-login:focus:invalid{
    border: 2px solid #f37059;
  }
.input-login:valid{
    border: 3px solid #ca96e1;
  }
.registration-text-login{
    margin-top: 40px;
    border-top: 1px solid #ebeaed;
    width: 485px;
    font-size: 0.788rem;
    line-height: 1.7;
}
.registration-text-login p{
    text-align: center;
}
.link-for-registr-in-login{
    color: #ca96e1;
    transition: .5s;
}
.link-for-registr-in-login:hover{
    text-decoration: underline;
}
