@import "./petsitters.css";
@import "./login.css";
@import "./authRegistration.css";
@import "./petsittersForm.css";

* {
  box-sizing: border-box;
}
body {
  font-family: "Lato", sans-serif;
}
a {
  text-decoration: none;
}
